<!-- Edit Contact Dialog -->
<div class="modal fade" id="editContactModal" tabindex="-1" aria-labelledby="editContactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editContactModalLabel">
                    <%= __("admin.editContact.title") %>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="editAlertBox" class="alert d-none" role="alert"></div>
                <form id="editContactForm">
                    <div class="mb-3">
                        <label class="form-label">
                            <%= __("common.form.name") %>
                        </label>
                        <input type="text" name="name" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            <%= __("common.form.email") %>
                        </label>
                        <input type="email" name="email" class="form-control" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <%= __("common.buttons.close") %>
                </button>
                <button type="button" class="btn btn-primary" id="saveContactBtn">
                    <%= __("common.buttons.save") %>
                </button>
            </div>
        </div>
    </div>
</div>